<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orange_yishenggong.wiki.mapper.testMapper">

    <select id="list" resultType="com.orange_yishenggong.wiki.domain.test">
        select `id`, `name`, `password` from `test20210608-2`
    </select>

</mapper>
